In [7]:
import io
import numpy as np
import pandas as pd
import requests
from zipfile import ZipFile

#### Q1. Socket

Bạn là một nhà phát triển, làm việc trên một chương trình Python 3. Bạn được yêu cầu thực hiện tích hợp liên tục bằng cách sử dụng sockets, để gửi dữ liệu giữa các ứng dụng. Hãy xem xét đoạn mã sau từ ứng dụng của bạn:

In [ ]:
# .. some code here
try:
    connection._extra['sockname'] = socket.getsockname()
except socket.error as e:
    connection._extra['sockname'] = None
    logger.error("Error getting socket name: %s", e)

if "peername" not in connection._extra:
    try:
        connection._extra['peername'] = socket.getpeername()
    except socket.error as e:
        connection._extra['peername'] = None
        logger.error("Error getting peer name: %s", e)
# .. some code here

Câu hỏi: Phát biểu nào sau đây đúng về đoạn mã trên?
- a. Một số UDP sockets có thể không có tên socket, và do đó chúng ta đang bắt ngoại lệ cho tất cả các UDP sockets.
- b. Một số UDP sockets có thể có hoặc không có tên peer, và do đó chúng ta đang bắt ngoại lệ bằng cách sử dụng socket.error.
- c. Một số TCP sockets có thể không có tên peer, và do đó chúng ta đang bắt ngoại lệ bằng cách sử dụng socket.error.
- d. Chúng ta có thể trực tiếp sử dụng socket.getpeername() mà không cần khối try except, vì getpeername trả về một tuple và xử lý null nếu không có.

#### Q2.

In [3]:
# data = content
data = pd.read_csv(r'C:\Users\admin\Downloads\data\cardio_base.csv')

In [5]:
# 1. The gap between age group with highest weight and the group with lowest weight

data['age_year'] = data['age'] // 360

data

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke,age_year
0,0,18393,2,168,62.0,110,80,1,0,51
1,1,20228,1,156,85.0,140,90,3,0,56
2,2,18857,1,165,64.0,130,70,3,0,52
3,3,17623,2,169,82.0,150,100,1,0,48
4,4,17474,1,156,56.0,100,60,1,0,48
...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,53
69996,99995,22601,1,158,126.0,140,90,2,0,62
69997,99996,19066,2,183,105.0,180,90,3,0,52
69998,99998,22431,1,163,72.0,135,80,1,0,62
69999,99999,20540,1,170,72.0,120,80,2,0,57

In [9]:
# Tính trọng lượng trung bình theo tuổi
average_weight_by_age = data.groupby('age_year')['weight'].mean().reset_index()
average_weight_by_age.rename(columns={'weight': 'average_weight'}, inplace=True)

# Tìm tuổi có trọng lượng trung bình cao nhất và thấp nhất
max_weight_age = average_weight_by_age.loc[average_weight_by_age['average_weight'].idxmax()]['age_year']
min_weight_age = average_weight_by_age.loc[average_weight_by_age['average_weight'].idxmin()]['age_year']

# Tính khoảng cách tuổi
age_gap = max_weight_age - min_weight_age

In [10]:
age_gap

-1.0

In [1]:
# 2. Do people over 50 higher coles than the rest