## SECTION 3: PYTHON BASIC
### Objects

We'll cover this later in this course, but let me first show you how we can create custom objects with state and functionality.

So, don't worry if you don't understand this code right now, you soon will!

In [1]:
class Account:
    def __init__(self, account_number, account_type, initial_balance):
        self.account_number = account_number
        self.account_type = account_type
        self.balance = initial_balance
        
    def deposit(self, amount):
        # should also check that amount is a numerical value!
        if amount > 0:
            self.balance = self.balance + amount
            print(f'Deposited {amount}')
            print(f'New balance is: {self.balance}')
        else:
            print(f'{amount} is an invalid amount.')
            
    def withdraw(self, amount):
        # should also check that amount is a numerical value!
        if amount > 0 and amount <= self.balance:
            self.balance = self.balance - amount
            print(f'Withdrawal: {amount}')
            print(f'New Balance: {self.balance}')
        else:
            if amount < 0:
                print(f'{amount} is an invalid amount')
            else:
                print('Insufficient funds.')
                print(f'Current balance is {self.balance}')

In [2]:
my_account = Account('123-456', 'savings', 1000.00)

`my_account` is an **object** with **state**:

In [3]:
my_account.account_number

'123-456'

And it has **functionality**:

In [6]:
my_account.deposit(100)

Deposited 100
New balance is: 1100.0

In [20]:
my_account.withdraw(10_000)

Insufficient funds.
Current balance is 490.0

### Arithmetic Operators
The basic arithmetic operators are `+`, `-`, `*`, `/`  and `**`

In [13]:
a = 1 + 0.5
b = 2**3
c = 16**0.5
c

4.0

Excercise

### Boolean Operators
In Boolean algebra we have 5 basic operators: `not`, `and`, `or`,  `True` and `False`.

## SECTION 4: CONDITIONAL EXECUTION
### If - else, elif

In [14]:
grade = 72

if grade >= 80:
    print('Passed with distinction')
else:
    if grade >= 70:
        print('Passed')
    else:
        print('Failed')

Passed

In [15]:
grade = 72

if grade >= 80:
    print('Passed with distinction')
elif grade >= 70:
    print('Passed')
else:
    print('Failed')

Passed

In [16]:
ask_price = 100

volume = 50 if ask_price > 50 else 80

print(volume)

50

Exercise
Viết lại câu lệnh nếu withdraw > balance thì trả về chuỗi 'Insufficient funds' và giá trị Current balance. Ngược lại thì trả về kết quả balance - withdraw

In [18]:
balance = 500
amount = 100

if amount > balance:
    print('Insufficient funds')
    print(balance)
else:
    print(balance-amount)

400

## SECTION 7: ITERATION

In [21]:
range(5)
range(2,5)
range(2, 10, 2)
range(10, 2, -2)

tuple(range(10))
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Loop

In [25]:
for x in range(5):
    x = x+1
    print(f'In the loop:{x}')
    
print(f'Out the loop:{x}')

In the loop:1
In the loop:2
In the loop:3
In the loop:4
In the loop:5
Out the loop:5

In [26]:
suits = ['Spades', 'Hearts', 'Diamonds', 'Clubs']
for suit in suits:
    abbrev = suit[0].upper()
    print(f'{abbrev} = {suit}')

S = Spades
H = Hearts
D = Diamonds
C = Clubs